body {
}

.topMenu ul {
    padding: 0px;
    height: 40px;
    line-height: 30px;
    background-color: #646464;
    text-align: center;
}

.topMenu li {
    width: 100px;
    margin: 0 5px;
    padding: 5px 0;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
}

    .topMenu li:hover {
        background-color: #DCAA79;
        padding: 5px 0;
    }

.topMenu a {
    text-decoration: none;
    color: #fff;
}
#Image{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    height:500px;
}
#Zaglavie {
    text-align: center;
    
}